
**.csv
**csv.gz
*.env
**/__pycache__/
**/output.*
**.pyc
**.ipynb_checkpoints/
build/
./additional_mappings/
./backup/
**other_tools.py
**/annotation/
**/annotation_res/
**/for_test
**/agent_tools/RAG_tool_manual_qr.py
./notebooks
databases/
./back_notes